@import "./misc/variables.scss";
@import "./misc/normalize.scss";


@import "./partials/header";
@import "./partials/footer.scss";

@import "./views/about_us";
@import "./views/contact_us";
@import "./views/shop";
@import "./views/trending";
@import"./views/index";
.see {
    text-align: center;
}

  
$colors: (
	"primary": #E32081,
	"secondary": #FF7733,
	"text": #73E2A7
)


color color ("primary");

@media (max-width:540px) {
  .tituloprin { font-size: 20px;}
  header {
   font-size: 10px;
   width: fit-content;
  }
}



   .yuo { font-size: 3.4rem; }

   
   