    .buo {
        background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
    }
    .about {
    font-size: 128px;
    text-align: center;
    margin-top: 200px;
}
.free {
    font-size:2em;
    justify-content: center;
    text-align: center;
margin-bottom: 250px;
margin-left: 20px;
margin-right: 20px;
}
.ttt {
    font-size:          15vw;
	font-weight:        900;
}

