.four {
    
        background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
    
.cont {
    
    color: rgb(51, 23, 47);
    text-align: center;
    font-size: 3.4rem; 
     @media only screen and (max-width: 960px) { h1 { font-size: 5.66666667vw; } }
     @media only screen and (max-width: 564.70588235px) { h1 { font-size: 2rem; } }
     
} 

        .hi {
                margin-bottom: 500px;
                text-align: center;
                margin-top: 100px;
            }

  }